<p
  *ngIf="!secondaryType; else doubleTypes"
  class="type-box-border type-box-padding type-box-font"
  [style]="{ 'background-color': primaryType.color }"
>
  {{ primaryType.name }}
</p>

<ng-template #doubleTypes>
  <p
    class="type-box-border type-box-padding type-box-font"
    [style.background]="
      'linear-gradient(90deg, ' +
      this.primaryType.color +
      ' 20%, ' +
      this.secondaryType?.color +
      ' 100%)'
    "
  >
    {{ primaryType.name }}/{{ secondaryType?.name ?? "Error" }}
  </p>
</ng-template>
