<div class="max-inner-width">
    <ng-container *ngIf="pokemonService.pokemonGeneralInformationSubject$ | async as pokemon; else loading">
        <div class="divided">
            <div class="flex-space-around-row flex-children-fill pokemon-page-header">
                <img [src]="pokemon.image" [alt]="'Image of ' + pokemon.name" class="type-box-pokemon-image" />
                <div class="flex-center-column">
                    <h2 class="type-box-pokemon-name text-shadow">{{ pokemon.name }}</h2>
                    <div class="flex-space-around-row type-box-types-container">
                        <app-type-box [primaryType]="pokemon.primaryType" [secondaryType]="pokemon.secondaryType"></app-type-box>
                    </div>
                </div>
            </div>
        </div>
        <app-expansion-panel [title]="effectivenessTitle" [description]="effectivenessDescription">
            <app-type-effectiveness-table
                [pokemonDefensiveCharacteristics]="pokemon.defensiveRelations"></app-type-effectiveness-table>
        </app-expansion-panel>
        <app-expansion-panel [title]="abilityTitle" [description]="abilityDescription">
            <app-ability-table [dataSource]="pokemon.abilities"></app-ability-table>
        </app-expansion-panel>
        <app-expansion-panel [title]="statTitle" [description]="statDescription">
            <app-stats-table [pokemonGeneralInformation]="pokemon"></app-stats-table>
        </app-expansion-panel>
    </ng-container>

    <ng-template #loading>
        <app-spinner></app-spinner>
    </ng-template>
</div>
