mat-form-field,
mat-label,
input {
  width: 100%;
}

.number {
  font-size: 1.2rem;
}

.image {
  max-width: 10em;
}

.number-name-container {
  display: inline-flex;
  column-gap: 1em;
}

::ng-deep mat-option > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
