$margin: 12px;
$shadow-color: rgba(0, 0, 0, 0.2); // Shadow color
$shadow-offset-x: 0px; // Horizontal offset
$shadow-offset-y: 4px; // Vertical offset
$shadow-blur: 8px; // Blur radius
$shadow-spread: 0px; // Spread radius

$text-shadow-color: rgba(0, 0, 0, 0.5); // Text shadow color
$text-shadow-offset-x: 1px; // Horizontal offset
$text-shadow-offset-y: 1px; // Vertical offset
$text-shadow-blur: 2px; // Blur radius
