img {
    width: 100%;
}

.search-container {
    align-items: start;
}

.small-logo {
    max-width: 3rem;
    margin-right: 2rem;
    margin-top: 0.9rem;
}

app-search-form {
    flex: 1;
    width: 100%;
}

.entry-text {
    font-size: 1rem;
    text-align: center;
    margin: 2em 1.5em;
    width: clamp(40ch, 80%, 75ch);
    width: 100%;
}
