@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}
body {
    @include flex-center();
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: #5f5e96;
}

app-root {
    width: 100%;
}

.max-inner-width {
    max-width: 80%;
    margin: auto;
}

.flex-center-column {
    @include flex-center();
    flex-direction: column;
}

.flex-center-row {
    @include flex-center();
    flex-direction: row;
}

.flex-space-around-row {
    @include flex-center();
    justify-content: space-around;
}

.flex-children-fill {
    & > * {
        flex: 1;
    }
}

.divided,
.divided-after,
.divided-before {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0em 2em 0;
}

.divided::after,
.divided-after::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: black;
}

.divided::before,
.divided-before::before {
    content: '';
    height: 1.5px;
    width: 100%;
    background-color: black;
}

.overflow-hidden {
    overflow: hidden;
}
